@charset "UTF-8";
/* CSS Document */
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	margin: 0;
	height: 100%;
	width: 100%;
	padding: 0;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #555;
	font-size: 14px;
	background: #f8f8f8;
}
body.login {
	background: #2b353b;
}
#login-container {
	padding: 30px;
	background: #f6f6f6;
	margin: 0 auto;
	width: 320px;
}
#login-container h1 {
	margin-top: 0;
}
#login-container button {
	width: 100%;
	margin: 0;
}
#login-container input {
	width: 100%;
	color: #666;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	outline: 0;
	font-size: 100%;
}
.container {
	margin: 90px 0 0 280px!important;
	max-width: 1024px!important;
	padding-bottom: 30px!important;
}
#navbar {
	position: fixed;
	top: 0;
	left: 0;
	z-index:99999;
	background: #f3f3f3;
	height: 70px;
  	width: 100%;
	border-bottom: 1px #ddd solid;
}
#logo {
	padding: 0 20px;
	width: 280px;
	color: #fff;
	height: 70px;
	background: #3ca4cf;
	border-bottom: 2px solid #4c80b5;
	margin-bottom: 20px;
}
#logo h1 {
	padding: 23px;
	font-weight: 300;
	color: #fff;
	height: 70px;
	position: absolute;
	left: 80px;
	top: 0;
	font-size: 18px;
}
#navbar ul#nav {
	list-style:none;
	margin: 0;
	padding: 0;
	text-align: right;
}
#navbar ul#nav li {
	display: inline-block;
	margin: 0;
}

#navbar ul#nav li a {
	display:block;
	padding: 25px 30px 0;
	height: 70px;
	text-decoration: none;
	font-size: 100%;
	color: #666;
	font-weight: 400;
	text-transform: none;
	
}

#navbar ul#nav li a:hover, #navbar ul#nav li a:focus, #navbar ul#nav li a.active {
	background: #eee;
	border-bottom: 1px solid #ddd;
}
p { margin-bottom: 20px; }
#toggledrawer {
	display: none!important;
	padding: 25px 30px 0;
	height: 70px;
	position: absolute;
	z-index: 999999;
	background: #f3f3f3;
	left: 0px;
	text-decoration: none;
	font-size: 100%;
	color: #666;
	margin-left: 0;
	font-weight: 400;
	text-transform: none;
	-moz-transition:all 0.2s ease;
    -webkit-transition:all 0.2s ease;
    -o-transition:all 0.2s ease;
    transition:all 0.2s ease;
	border-bottom: 1px #ddd solid;
}
#toggledrawer.slide {
	margin-left: 280px;
}
#leftcolumn {
	width: 280px;
	background: #242B31;
	margin-left: 0;
	position: fixed;
	z-index: 99999;
	top: 0;
	left: 0;
	bottom: 0;
	height: auto;
	display: block;
}
#leftcolumn ul {
	padding-bottom: 20px;
	list-style-type:none;
	margin: 0;
}
#leftcolumn ul li a {
	padding: 10px 30px;
	color: #5b656e;
	text-decoration:none;
	display: block;
}
#leftcolumn ul li a:hover, #leftcolumn ul li a.active {
	color: #eee;
	background: #2b3138;
}
#leftcolumn ul li i {
	padding-right: 10px;
}
#leftcolumn h3 {
	color: #5b656e;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 95%;
	padding-bottom: 3px;
	margin: 0 30px 10px;
	border-bottom: 1px solid #5b656e;
}
.grid h1 {
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.grid h2 { font-size: 120%; color: #3ca4cf; padding-bottom: 10px; }
.grid h2 i { padding-right: 10px; }
.grid h3 { padding-bottom: 10px; font-weight: 400; }
.margin-bottom { margin-bottom: 30px; }
table {
	width: 100%;
}
th, td {
	text-align: left;
	border-bottom: 1px solid #eee;
	padding: 10px 20px;
	margin: 0;
}
tbody tr:hover {
	background: #eee;
}
td i { padding: 0!important;}
td img {
	border: none;
	width: 64px;
	height: 64px;
	border-radius: 50%;
	display: block;
	margin: 0;
}
td textarea {
	margin-bottom: 0;
}
td button {
	padding: 5px 8px;
	float: right;
	margin-bottom: 0px;
}
td .modal-add {
	background: #33cc7d;
	border-bottom: 2px solid #27b36b;
}
td .modal-add:hover {
	background: #27b36b;
	border-bottom: 2px solid #27b36b;
}
td.left, th.left {
	padding-left: 0;
}
button {
	padding: 15px 30px;
	border: none;
	font-weight: 300;
	text-align: center;
	border-radius: 3px;
	background: #ed7b5f;
	border-bottom: 2px solid #d66549;
	color: #fff;
	margin: 0;
	font-size:14px;
	display: block;
	outline: none;
	margin-bottom: 20px;
}
button:hover {
	background: #d66549;
	border-bottom: 2px solid #d66549;
	color: #fff;
	cursor:pointer;
	outline: none;
}
button i {
	padding-right: 5px;
}
textarea {
	width: 100%;
	height: 40px;
	font-size: 110%;
	color: #666;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-bottom: 20px;
	outline: none;
}
textarea.description {
	min-height: 120px;
}
.grid a.clear {
	color: #999;
	text-decoration: none;
	display: inline-block;
	padding: 2px 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	float: right;
	font-size: 14px;
	font-weight: normal;
}
.grid a.clear:hover { color: #ccc; border: 1px solid #ccc; }
.grid a.clear i { padding-right: 2px; }
.grid .building-image img { width: 100%; border: 1px solid #ccc; border-radius: 5px; -webkit-border-radius: 5px; }
input[type=file] {
	padding: 10px;
	border: none;
	font-weight: 300;
	text-align: left;
	border-radius: 3px;
	background: #f8f8f8;
	border: 1px solid #ccc;
	color: #666;
	margin: 0;
	font-size:14px;
	display: block;
	outline: none;
	width: 100%;
	margin-top: 10px;
}
input[type=file]::-webkit-file-upload-button {
  	padding: 5px 10px;
	border: none;
	font-weight: 300;
	text-align: center;
	border-radius: 3px;
	background: #eee;
	border: 1px solid #ddd;
	color: #666;
	margin: 0;
	font-size:14px;
	display: block;
	outline: none;
	cursor: pointer;
}
.modal-upload {
	padding: 15px 20px;
	border: none;
	font-weight: 300;
	text-align: center;
	border-radius: 3px;
	background: #ed7b5f;
	border-bottom: 2px solid #d66549;
	color: #fff;
	margin: 0;
	font-size:14px;
	display: block;
	outline: none;
	margin-top: 10px;
	float: none;
	width: 100%;
}
.back {
	width: auto;
	float: none;
	margin-top: 20px;
}
.filetypes { padding-top: 10px; font-size: 85%; text-align:center; }
.time { float:right; font-size: 14px; line-height: 300%;}
select { 
	width: 100%;
	margin-bottom: 20px;
	-webkit-appearance: none;
	-moz-appearance: none;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	color: #666;
	font-size: 14px;
	cursor: pointer;
	outline: none;
}
/* Overlay */
#simplemodal-overlay { opacity: 0.5!important; background-color: #000!important;}

/* Container */
#simplemodal-container {min-height:135px; width:400px; color:#666; background-color:#f8f8f8; padding:20px; font-weight: bold; z-index: 9999999!important; top: 100px!important; text-align:center; border-radius: 5px;}
#simplemodal-container p { margin-bottom: 20px; }
#simplemodal-container button {
	float: left;
	width: 49%;
	margin-bottom: 0;
}
.modalCloseImg { display: none; }
.simplemodal-close { margin-right: 2%; background: #384047; color: #eee; border-bottom: 2px solid #242B31; }
.simplemodal-close:hover { background: #242B31; color: #eee; border-bottom: 2px solid #242B31; }
.simplemodal-wrap { height: auto; }
.confirm, .modal-save { background: #3ca4cf; border-bottom: 2px solid #5085ba; }
.confirm:hover, .modal-save:hover { background: #5085ba; border-bottom: 2px solid #5085ba; }
.simplemodal-close.ok { width: 100%!important; background: #3ca4cf;
border-bottom: 2px solid #5085ba; }

@media all and (max-width: 860px){
.container {
	margin: 90px 0 0 0!important;
}
#leftcolumn {
	display:none;
}
#toggledrawer {
	display: block!important;
}
th, td {
	padding: 10px 10px;
	margin: 0;
}
td.type, th.type {
	display: none;
}
.grid h1 {
	font-size: 120%;
}
.time {
	font-size: 80%;
	font-weight: 400;
}
.roomtable {
	margin-bottom: 20px;
}
.building-image {
		margin-top:10px;
	}
}