button {
	outline: 0;
	background: #242B31;
	cursor: pointer;
	border: none;
	margin: 0;
	height: 60px;
	width: 60px;
	border-top: 1px solid #2a3138;
	border-bottom: 1px solid #1f262b;
	-moz-transition:background-color 0.2s ease;
    -webkit-transition:background-color 0.2s ease;
    -o-transition:background-color 0.2s ease;
    transition:background-color 0.2s ease;
	font-size: 1em;
	color: #5b656e;
	float: left;
}
button:hover, button.active {
	color: #fff;
}
a {
	-moz-transition:all 0.2s ease;
    -webkit-transition:all 0.2s ease;
    -o-transition:all 0.2s ease;
    transition:all 0.2s ease;
	color: #666;
	text-decoration:none;
}