#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-image: -ms-radial-gradient(center, ellipse farthest-corner, #aaf7f7 0%, #0c3d4d 100%);
	background-image: -moz-radial-gradient(center, ellipse farthest-corner, #aaf7f7 0%, #0c3d4d 100%);
	background-image: -o-radial-gradient(center, ellipse farthest-corner, #aaf7f7 0%, #0c3d4d 100%);
	background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, #aaf7f7), color-stop(1, #0c3d4d));
	background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #aaf7f7 0%, #0c3d4d 100%);
	background-image: radial-gradient(ellipse farthest-corner at center, #aaf7f7 0%, #0c3d4d 100%);
    z-index:99999999;
	text-align: center;
	display: table;
	width: 100%;
	height: 100%;
	color:#fff;
}
#preloader h2 {
	padding-bottom: 20px;
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
@-webkit-keyframes spin /* Safari and Chrome */
{
from { transform: rotate(0deg); }
to { transform: rotate(360deg); }
}
 
/* Loading animation container */
.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 28px;
    height: 28px;
    margin: -14px 0 0 -14px;
}
 
/* Spinning circle (inner circle) */
.loading .maskedCircle {
    width: 50px;
    height: 50px;
    border-radius: 24px;
    border: 5px solid #999;
}
 
/* Spinning circle mask */
.loading .mask {
    width: 24px;
    height: 24px;
    overflow: hidden;
}
 
/* Spinner */
.loading .spinner {
    position: absolute;
    left: 1px;
    top: 1px;
    width: 52px;
    height: 52px;
    animation: spin 1s infinite linear;
	-webkit-animation: spin 1s infinite linear;
}
#start { 
	display: none;
}
#preloader-content {
	display: table-cell;
	vertical-align: middle;
}

#preloader img {
	margin: 0 0 30px;
}
#start span {
	padding: 15px 30px;
	font-weight: 300;
	text-align: center;
	border-radius: 3px;
	background: #ed7b5f;
	border-bottom: 2px solid #d66549;
	color: #fff;
}
#start span::before {
	background: #d66549;
	border-bottom: 2px solid #d66549;
	border-radius: 3px;
	color: #fff;
	padding: 15px 30px;
}
#percent {
	font-size: 200%;
	color: #fff;
	font-weight: 400;
	text-align: center;
	padding-bottom: 30px;
}