#preloader {
    position:fixed;
    top:60px;
    left:0;
    right:0;
    bottom:0;
    background-color:#f3f3f3; /* change if the mask should have another color then white */
    z-index:99999999; /* makes sure it stays on top */
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
@-webkit-keyframes spin /* Safari and Chrome */
{
from { transform: rotate(0deg); }
to { transform: rotate(360deg); }
}
 
/* Loading animation container */
.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 28px;
    height: 28px;
    margin: -14px 0 0 -14px;
}
 
/* Spinning circle (inner circle) */
.loading .maskedCircle {
    width: 50px;
    height: 50px;
    border-radius: 24px;
    border: 5px solid #999;
}
 
/* Spinning circle mask */
.loading .mask {
    width: 24px;
    height: 24px;
    overflow: hidden;
}
 
/* Spinner */
.loading .spinner {
    position: absolute;
    left: 1px;
    top: 1px;
    width: 52px;
    height: 52px;
    animation: spin 1s infinite linear;
	-webkit-animation: spin 1s infinite linear;
}