/* CSS Document */
#stream {
	margin: 0 auto;
}
.item {
	background: #f8f8f8;
	padding: 20px;
	margin: 10px;
	width: 360px;
	float: left;
	overflow: hidden;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.item.instagram {
	padding: 0;
	position: relative;
}
.item.instagram img {
	display: block;
}
.item.instagram p {
	padding: 10px 20px 0;
	font-size: 180%;
	color: #fff;
}
.item.instagram .tag {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 0 20px 20px;
	border: none;
	color: #fff;
	font-size: 120%;
	text-shadow: 0px 1px 1px #111;
	-moz-text-shadow: 0px 1px 1px #111;
	-webkit-text-shadow: 0px 1px 1px #111;
}
.item.instagram .tag a {
	color: #fff;
}
.item.instagram .caption {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: #629ad1;
	display: none;
	opacity: 0.9;
}

.item .tweet-content {
	margin-left: 60px;
}
.item .tweet-footer {
	border-top: 1px solid #eee;
	padding-top: 10px;
	margin-top: 10px;
	font-size: 80%;
	color: #999;
}
.item a {
	color: #279CCD;
	text-decoration:none;
}
.item a:hover {
	text-decoration:underline;
}
.tweet_img {
	float: left;
	width: 48px;
	height: 48px;
}
.instagram_img {
	width: 100%;
}
.hidden_date {
	display: none;
}
.tweet-modal {
	width: 360px;
	overflow: hidden;
	background: #629ad1;
	color: #fff;
	padding: 10px;
}
.closetweet {
	position: absolute;
	right: 10px;
	top: 15px;
}
.tweet-modal header {
	padding: 10px 20px;
}
.tweet-modal i {
	padding-right: 10px;
}
.tweet-modal header h2 {
	margin: 0;
	color: #fff;
	font-weight: bold;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-size: 0.9em;
}
.tweet-modal section {
	padding: 20px;
	text-align:center;
}
.tweet-modal .tweet_img {
	display: none;
	margin: 0 auto 10px;
	float: none;
	border: 1px solid #fff;
}
.tweet-modal .tweet-footer {
	background: #f3f3f3;
	padding: 10px 20px;
	border-bottom: 2px solid #f3f3f3;
}
.tweet-modal h2 a {
	color: #fff;
	text-decoration:none;
}
.tweet-modal a {
	color: #fff;
	text-decoration:underline;
}
.tweet-modal a:hover {
	text-decoration:none;
}
.tweet-modal .tweet-footer a {
	float: right;
	color:#999;
}
.tweet-modal .tweet-footer span {
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 0.9em;
	color:#999;
}

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}
@media all and (max-width: 500px){
.item {
	width: 260px;
}
}