/* CSS Document */
#stream {
	margin: 0 auto;
}
.item {
	background: #fff;
	padding: 20px;
	margin: 3px;
	border: 1px #e6e6e6 solid;
	width: 360px;
	float: left;
	overflow: hidden;
}
.item .tweet-content {
	margin-left: 60px;
}
.item .tweet-footer {
	border-top: 1px solid #eee;
	padding-top: 10px;
	margin-top: 10px;
	font-size: 80%;
	color: #999;
}
.item a {
	color: #71BAB8;
	text-decoration:none;
}
.item a:hover {
	text-decoration:underline;
}
.tweet_img {
	float: left;
	width: 48px;
	height: 48px;
}
.instagram_img {
	width: 100%;
}
.hidden_date {
	display: none;
}
.tweet-modal {
	width: 360px;
	overflow: hidden;
}
.tweet-modal header {
	padding: 10px 20px;
	background: #55ACEE;
}
.tweet-modal i {
	padding-right: 10px;
}
.tweet-modal header h2 {
	margin: 0;
	color: #fff;
	font-weight: bold;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-size: 0.9em;
}
.tweet-modal section {
	padding: 20px;
	background: #fff;
}
.tweet-modal .tweet-content {
	margin-left: 60px;
}
.tweet-modal .tweet-footer {
	background: #f3f3f3;
	padding: 10px 20px;
	border-bottom: 2px solid #f3f3f3;
}
.tweet-modal a {
	color: #71BAB8;
	text-decoration:none;
}
.tweet-modal .tweet-footer a {
	float: right;
	color:#999;
}
.tweet-modal .tweet-footer span {
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 0.9em;
	color:#999;
}
.tweet-modal a:hover {
	text-decoration:underline;
}

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}
