/* CSS Document */
#stream {
	margin: 0 auto;
}
.tweet {
	background: #fff;
	padding: 20px;
	margin-bottom: 20px;
	border: 1px #e6e6e6 solid;
	border-radius: 5px;
	width: 350px;
	float: left;
	overflow: hidden;
}
.tweet img {
	float: left;
	width: 48px;
	height: 48px;
}
.tweet .tweet-content {
	margin-left: 60px;
}
.tweet .tweet-footer {
	border-top: 1px solid #eee;
	padding-top: 10px;
	margin-top: 10px;
	font-size: 80%;
	color: #999;
}
.tweet a {
	color: #71BAB8;
	text-decoration:none;
}
.tweet a:hover {
	text-decoration:underline;
}

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}