@charset "UTF-8";
/* CSS Document */
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html, body {
	margin: 0;
	height: 100%;
	width: 100%;
	padding: 0;
	overflow: hidden;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 14px;
	background-image: -ms-radial-gradient(center, ellipse farthest-corner, #5986A8 0%, #0C2133 100%);
	background-image: -moz-radial-gradient(center, ellipse farthest-corner, #5986A8 0%, #0C2133 100%);
	background-image: -o-radial-gradient(center, ellipse farthest-corner, #5986A8 0%, #0C2133 100%);
	background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, #5986A8), color-stop(1, #0C2133));
	background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #5986A8 0%, #0C2133 100%);
	background-image: radial-gradient(ellipse farthest-corner at center, #5986A8 0%, #0C2133 100%);
}
h1,h2,h3,h4 {
	margin-top: 0;
}
#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#222; /* change if the mask should have another color then white */
    z-index:999999; /* makes sure it stays on top */
}
#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url(../images/gif-load.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}
#wrapper {
	width: 100%;
	height: 100%;
	position: relative;
}
#leftnav {
	height: 100%;
	background: #fff;
	width: 50px;
	position: absolute;
	z-index: 9999;
	top: 0;
	left: 0;
}
#leftnav #leftnav-footer {
	position: absolute;
	bottom: 0;
}
#labelpanel, #eventpanel {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	width: 240px;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 999;
	background: #21262e;
	padding: 65px 20px 20px 20px;
	margin-left: 50px;
	color: #fff;
	display: none;
}
#modalpanel {
	position: absolute;
	z-index: 99;
	width: 500px;
	background: #fff;
	box-shadow: 2px 2px 5px;
	-webkit-box-shadow: 0px 2px 30px #666;
	opacity:0;
}
.opaque {
	opacity: 1!important;
}
#modalpanel img {
	border: none;
	width: 200px;
	height: 162px; /* Temp */
	float: left;
}
#modalpanel section {
	width: 300px;
	padding: 20px;
	float: left;
}
#modalpanel section p:last-child { margin-bottom: 0; }
#controls {
	position: absolute;
	right: 0;
	z-index: 9999;
}
button {
	outline: 0;
	background: #fff;
	cursor: pointer;
	border: none;
	margin: 0;
	height: 50px;
	width: 50px;
	-moz-transition:background-color 0.2s ease;
    -webkit-transition:background-color 0.2s ease;
    -o-transition:background-color 0.2s ease;
    transition:background-color 0.2s ease;
	font-size: 1em;
	color: #333;
	float: left;
}
button:hover, button.active {
	background: #21262e;
	color: #fff;
}
#labelpanel button {
	background: #323945;
	cursor: pointer;
	border: none;
	width: 100%;
	text-align: left;
	margin: 0;
	font-size: 1em;
	color: #fff;
	float: left;
	padding: 10px 15px;
	border-bottom: solid 2px #1c2129;
	border-radius: 3px;
}
#labelpanel button:hover, #labelpanel button:focus {
	background: #2c323d;
	color: #fff;
}
#labelpanel button.active {
	background: #1c2129;
	color: #ccc;
}
.checked:before {
	font-family: FontAwesome;
	content: "\f111";
	padding: 0 20px 0 0;
}
.unchecked:before {
	font-family: FontAwesome;
	content: "\f10c";
	padding: 0 20px 0 0;
}
.ui-tooltip {
	padding: 8px;
	position: absolute;
	z-index: 9999;
	max-width: 300px;
	background: #21262e;
	color: #fff;
	border: none;
	border-radius: 0;
	font-size: 0.8em;
}
.fold {
	opacity: 0;
	-webkit-transform-origin: top center;
	-moz-transform-origin: top center;
	-ms-transform-origin: top center;
	-o-transform-origin: top center;
	transform-origin: top center;
	-webkit-transform: rotateX(-90deg);
	-moz-transform: rotateX(-90deg);
	-ms-transform: rotateX(-90deg);
	-o-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
	-webkit-transition: -webkit-transform .3s linear;
	-moz-transition: -moz-transform .3s linear;
	-ms-transition: -ms-transform .3s linear;
	-o-transition: -o-transform .3s linear;
	transition: transform .3s linear;
}
.fold.open {
	opacity: 1;
	-webkit-transform: perspective( 600px ) rotateX(0);
	-moz-transform: perspective( 600px ) rotateX(0);
	-ms-transform: perspective( 600px ) rotateX(0);
	-o-transform: perspective( 600px ) rotateX(0);
	transform: perspective( 600px ) rotateX(0);
	transition-delay: 1s;
	-webkit-transition-delay: 1s;
}
.fold.close {
	opacity: 1;
	-webkit-transform: perspective( 600px ) rotateX(-90deg);
	-moz-transform: perspective( 600px ) rotateX(-90deg);
	-ms-transform: perspective( 600px ) rotateX(-90deg);
	-o-transform: perspective( 600px ) rotateX(-90deg);
	transform: perspective( 600px ) rotateX(-90deg);
}