@charset "UTF-8";
/* CSS Document */
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html, body {
	margin: 0;
	height: 100%;
	width: 100%;
	padding: 0;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #555;
	font-size: 14px;
	background: #374047;
}
#wrapper {
	margin-top: 70px;
	margin-left: 60px;
	padding: 20px 10px;
	-moz-transition:all 0.3s linear;
    -webkit-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    transition:all 0.3s linear;
}
#app {
	-moz-transition:all 0.2s linear;
    -webkit-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;
}
.slide-margin {
	margin-left: 340px!important;
}
#mapwrapper {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	background-image: -ms-radial-gradient(center, ellipse farthest-corner, #aaf7f7 0%, #0c3d4d 100%);
	background-image: -moz-radial-gradient(center, ellipse farthest-corner, #aaf7f7 0%, #0c3d4d 100%);
	background-image: -o-radial-gradient(center, ellipse farthest-corner, #aaf7f7 0%, #0c3d4d 100%);
	background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, #aaf7f7), color-stop(1, #0c3d4d));
	background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #aaf7f7 0%, #0c3d4d 100%);
	background-image: radial-gradient(ellipse farthest-corner at center, #aaf7f7 0%, #0c3d4d 100%);
}
#navbar {
	position: fixed;
	top: 0;
	left: 0;
	z-index:9999;
	background: #f6f6f6;
	height: 70px;
  	width: 100%;
}
#navbar #logo {
	padding: 0 20px;
	width: 340px;
	color: #fff;
	height: 70px;
	position: absolute;
	left: 0;
	top: 0;
	background: #629ad1;
	border-bottom: 2px solid #4c80b5;
}
#navbar h1 {
	padding: 23px;
	font-weight: 300;
	color: #fff;
	height: 70px;
	position: absolute;
	left: 80px;
	top: 0;
	font-size: 18px;
}
#navbar ul#nav {
	list-style:none;
	margin: 0 0 0 70px;
	padding: 0;
	text-align: right;
}
#navbar ul#nav li {
	display: inline-block;
	margin: 0 0 0 -4px;
	border-left: 1px solid #ddd;
}
#navbar ul#nav li a {
	display:block;
	padding: 25px 30px 0;
	height: 70px;
	text-decoration: none;
	font-size: 100%;
	color: #666;
	font-weight: 400;
	text-transform: none;
	-moz-transition:all 0.2s ease;
    -webkit-transition:all 0.2s ease;
    -o-transition:all 0.2s ease;
    transition:all 0.2s ease;
}

#navbar ul#nav li a:hover, #navbar ul#nav li a:focus, #navbar ul#nav li a.active {
	background: #eee;
}
#navbar ul#nav li#share a { background: #ed7b5f; color: #fff; border-bottom: 2px solid #d66549; width: 70px; }
#navbar ul#nav li#twitter a:hover { background: #55acee; color: #fff; }
#navbar ul#nav li#facebook a:hover { background: #4c66a4; color: #fff; }
#navbar ul#nav li#github a:hover { background: #333; color: #fff; }
#navbar ul#nav li#share a:hover { background: #d66549; border-bottom: 2px solid #d66549; }
#navbar #sharebox { 
	display: none;
	position: absolute;
	top: 70px;
	right: 5px;
}
#navbar #sharebox ul { 
	margin: 0;
	margin-top: 10px;
	padding: 0;
	list-style: none;
}
#navbar #sharebox ul li button {
	padding: 20px;
	display: block;
	text-align: center;
	width: 60px;
	height: 60px;
}
#navbar #sharebox ul li button:hover {
	background: #242B31;
	color: #fff;
}
#navbar #sharebox .arrow-down {
	top: -10px;
	left: 50%;
	margin-left: -11px;
	border-top: 10px solid transparent;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #242B31;
}
#search {
	position: absolute;
	left: 360px;
	top: 13px;
	z-index: 99999;
	height: 70px;
	display:none;
}
#searchForm label {
	color: #999;
	font-size: 18px;
}
::-webkit-input-placeholder { color: #999; }
:-moz-placeholder { color: #999; }
::-moz-placeholder { color: #999; }
:-ms-input-placeholder { color: #999; }
#searchForm input#searchBox {
	padding: 7px 5px;
	font-size: 18px;
	border: none;
	color: #666;
	outline: none;
	background-color: transparent;
	font-family: 'Open Sans', sans-serif!important;
	font-weight: 400;
	width: 500px;
}
.ui-autocomplete {
    position: absolute;
	z-index: 999999;
	-moz-border-radius: 0px!important;
	-webkit-border-radius: 0px!important;
	-khtml-border-radius: 0px!important;
	border-radius: 0px!important;
	border: 1px solid #ddd!important;
	background: #fcfcfc!important;
	overflow: auto!important;
	max-height: 80%!important;
}
.ui-autocomplete a {
	color: #666!important;
	font-size: 90%!important;
	font-family: 'Open Sans', sans-serif!important;
	padding: 7px 10px!important;
}
.ui-menu {
	padding: 0!important;
}
.ui-autocomplete .ui-menu-item a:hover, .ui-autocomplete .ui-menu-item a:focus, .ui-state-focus {
	color: #666!important;
	font-size: 90%!important;
	font-family: 'Open Sans', sans-serif!important;
	background-color: #eee!important;
	background-image:none!important;
	border: none!important;
	-moz-border-radius: 0px!important;
	-webkit-border-radius: 0px!important;
	-khtml-border-radius: 0px!important;
	border-radius: 0px!important;
	cursor: pointer;
}
#leftnav {
	height: 100%;
	background: #242B31;
	width: 60px;
	position: fixed;
	z-index: 999999;
	top: 70px;
	left: 0;
}
#leftnav #leftnav-footer {
	position: absolute;
	bottom: 70px;
	border-top: 1px solid #1f262b;
	z-index: 999999;
}

.slide-drawer {
	height: auto;
	background: #f6f6f6;
	width: 280px;
	position: fixed;
	z-index: 9999;
	top: 70px;
	left: 60px;
	bottom:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: none;
	overflow: auto;
}
.slide-drawer .slidepanel {
	display: none;
}
.slide-drawer h2 {
	color: #629ad1;
	height: 59px;
	font-weight: 300;
	letter-spacing: 1px;
	text-transform: none;
	font-size: 22px;
	letter-spacing: 1px;
	padding: 15px 30px;
	margin:0 0 5px;
	
}
.slide-drawer h3 {
	color: #999;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 95%;
	padding: 10px 0 8px;
	margin: 0 30px 10px;
	border-bottom: 1px solid #ddd;
}
.slide-drawer p {
	color: #666;
	font-size: 95%;
	margin: 0 30px 20px;
}

.slide-drawer ul {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 10px;
}
.slide-drawer ul li a {
	text-decoration: none;
	display: block;
	padding: 10px 30px;
	color: #666;
	font-size: 95%;
}
.slide-drawer ul li a.toggle:before {
	font-family: 'FontAwesome';
	content: "\f096";
	float: right;
	padding-top: 3px;
	color: #ddd;
}

.slide-drawer ul li a.toggled:before {
	font-family: 'FontAwesome';
	content: "\f0c8";
	float: right;
	padding-top: 3px;
}
.slide-drawer ul li a:hover, .checked {
	background: #f3f3f3;
}
#labelall.toggled:before  {
	color: #ddd;
}
#labeltoggle.toggled:before  {
	content: "\f02b";
}
#eventtoggle.toggled:before  {
	content: "\f041";
}
#tweettoggle.toggled:before  {
	content: "\f099";
}
#accommodationtoggle.toggled:before {
	color: #57b1cf;
}
#teachingtoggle.toggled:before {
	color: #3bbf8a;
}
#admintoggle.toggled:before {
	color: #8a43d1;
}
#communitytoggle.toggled:before {
	color: #cc5454;
}
#maintenancetoggle.toggled:before {
	color: #e6be68;
}
#visitorparking.toggled:before {
	color: #0099cc;
}
#permitparking.toggled:before {
	color: #5757b5;
}
#keynesbus.toggled:before {
	color: #ac5fcf;
	content: "\f068";
}
#darwinbus.toggled:before {
	color: #cc3333;
	content: "\f068";
}
#parkwoodbus.toggled:before {
	color: #0099cc;
	content: "\f068";
}
#cycleroutes.toggled:before {
	color: #ff9900;
	content: "\f068";
}
#bikeracks.toggled:before {
	content: "\f111";
	color: #ff9900;
}
#busstops.toggled:before {
	content: "\f111";
	color: #cc3333;
}
#investment-panel a.toggled:before {
	color: #3798b8;
}
.slide-drawer i {
	float: right;
	padding-top: 3px;
}
.slide-drawer a.external {
	padding: 10px;
	font-weight: 300;
	text-align: center;
	border-radius: 3px;
	background: #ed7b5f;
	border-bottom: 2px solid #d66549;
	color: #fff;
	margin: 20px 30px;
	font-size: 90%;
	display: block;
}
.slide-drawer a.external:hover {
	background: #d66549;
	border-bottom: 2px solid #d66549;
	color: #fff;
}
#eventlist {
	padding-top: 10px;
}
#eventlist li {
	padding: 0 0 20px;
	margin: 0 30px;
	display:table;
}
#eventlist li .left {
	display: table-cell;
	margin-right: 20px;
}
#eventlist li .date {
	width: 50px;
	height: 50px;
	padding: 5px;
	text-align:center;
	border: 2px solid #ccc;
	border-radius: 50%;
}
#eventlist li .date .day {
	font-size: 100%;
	letter-spacing: 2px;
	font-weight: bold;
	line-height: 90%;
	color: #999;
}
#eventlist li .date .month {
	display: block;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 80%;
	color: #999;
}
#eventlist li .content {
	display: table-cell;
	vertical-align:middle;
	padding-left: 15px;
}
#eventlist li .content h3 {
	border: none;
	padding: 0 0 5px;
	color: #666;
	font-weight: 400;
	text-transform: none;
	font-size: 100%;
	margin: 0;
}
#eventlist li .content i {
	float: none;
	padding-right: 5px;
}
#eventlist li .content a {
	margin: 0;
	padding: 0;
	background-color: transparent;
	border: none;
	font-size: 90%;
	color: #629ad1;
}
#eventlist li .content a:hover {
	border: none!important;
	cursor: pointer;
	text-decoration:underline;
}
.slide-drawer .event {
	padding: 15px 30px;
	display: inherit!important;
}
.slide-drawer .event:hover {
	background: #f3f3f3;
	color: #333;
}
.slide-drawer .event img {
	float: left;
	padding-right: 10px;
}
.slide-drawer .event h3 {
	font-weight: normal;
	letter-spacing: 0;
	text-transform: none;
	display: inline-block;
	margin: 0;
	padding:0 0 5px 0;
	color: #666;
	border-bottom: none;
}
.slide-drawer .event p {
	display: block;
	margin:0;
	padding:0 0 8px 0;
	color: #999;
	font-size: 95%;
}
#modalpanel {
	position: absolute;
	z-index: 99;
	display: none;
	color:#555;
	font-weight: 400;
	width: 480px;
}
#modalpanel h2 {
	font-size: 160%;
	color: #666;
	margin-bottom: 5px;
	padding-right: 20px;
}
#modalpanel h3 {
	font-weight: 400;
	color: #999;
	margin-top: 5px;
	font-size: 1em;
}
#modalpanel h3 i {
	padding-right: 5px;
}
#modalfront, #modalback {
	width: 100%;
	background: #f8f8f8;
	margin-bottom: 20px;
}
#modalpanel .header {
	padding: 20px;
	width: 160px;
	float: left;
}
#modalpanel .header img {
	border: none;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	border: 5px solid #629ad1;
	display: block;
	margin: 0;
}
#modalpanel .header p {
	text-align: center;
	color: #999;
	margin-top: 20px;
}
#modalpanel .header a {
	display: block;
	padding: 10px 20px;
	text-align:center;
	background: #629ad1;
	color: #fff;
	margin-top: 20px;
	border-radius: 3px;
}
#modalpanel .content a {
	position: absolute;
	right: 20px;
	top: 20px;
	color: #ccc;
}

#modalpanel .content {
	width: 320px;
	float: left;
	padding: 20px 20px 25px 0px;
	position: relative;
}
#modalpanel #modalback .content {
	padding: 20px 30px 40px;
}
#modalpanel .content p {
	margin: 0;
}
#modalpanel .footer {
	width: 100%;
	clear: both;
	background: #eee;
	position: relative;
	padding: 20px;
	border-top: #ddd solid 1px;
}
#modalpanel .footer ul {
	list-style-type:none;
	margin: 0;
	padding: 0;
}
#modalpanel .footer ul li {
	display: inline-block;
	width: 33%;
	text-align: center;
	color: #999;
	border-right: 1px solid #ddd;
}
#modalpanel .footer ul li:last-child {
	border-right: none;
}
#modalpanel .footer span {
	padding-bottom: 5px;
	display: block;
	font-size: 1.3em;
}
.arrow-down {
	position: absolute;
	bottom: -20px;
	left: 50%;
	margin-left: -20px;
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #f8f8f8;
}
.arrow-down.grey{
	border-top: 20px solid #eee;
}
.tweetpanel {
	position: absolute;
	z-index: 99;
	display: none;
}
.opaque {
	display: block!important;
}
#controls {
	position: absolute;
	bottom: 40px;
	right: 50%;
	margin-right:  -96px;
	z-index: 9980;
	width: 132px;
}
#controls button {
	height: 40px;
	width: 40px;
	color: #666;
	background: #f6f6f6;
	border: none;
	margin: 0 2px;
	box-shadow: 0px 0px 5px #999;
}
#controls button:hover {
	background: #629ad1;
	color: #fff;
}
.unchecked {
	color: #6d7882;
	background: #2a3138;
}
button {
	outline: 0;
	background: #242B31;
	cursor: pointer;
	border: none;
	margin: 0;
	height: 60px;
	width: 60px;
	-moz-transition:background-color 0.2s ease-out;
    -webkit-transition:background-color 0.2s ease-out;
    -o-transition:background-color 0.2s ease-out;
    transition:background-color 0.2s ease-out;
	font-size: 1em;
	color: #5b656e;
	float: left;
}
button:hover, button.active {
	color: #629ad1;
	background: #f6f6f6;
}
a {
	color: #666;
	text-decoration:none;
}
.ui-tooltip {
	padding: 8px;
	position: absolute;
	z-index: 9999;
	max-width: 300px;
	background: #21262e;
	color: #fff;
	border: none;
	border-radius: 0;
	font-size: 0.8em;
}
.fold {
	opacity: 0;
	-webkit-transform-origin: top center;
	-moz-transform-origin: top center;
	-ms-transform-origin: top center;
	-o-transform-origin: top center;
	transform-origin: top center;
	-webkit-transition: -webkit-transform .3s linear;
	-moz-transition: -moz-transform .3s linear;
	-ms-transition: -ms-transform .3s linear;
	-o-transition: -o-transform .3s linear;
	transition: transform .3s linear;
}
.fold.open {
	opacity: 1;
	-webkit-transform: perspective( 600px ) rotateX(0);
	-moz-transform: perspective( 600px ) rotateX(0);
	-ms-transform: perspective( 600px ) rotateX(0);
	-o-transform: perspective( 600px ) rotateX(0);
	transform: perspective( 600px ) rotateX(0);
}
.fold.close {
	opacity: 1;
	-webkit-transform: perspective( 600px ) rotateX(-90deg);
	-moz-transform: perspective( 600px ) rotateX(-90deg);
	-ms-transform: perspective( 600px ) rotateX(-90deg);
	-o-transform: perspective( 600px ) rotateX(-90deg);
	transform: perspective( 600px ) rotateX(-90deg);
}
.foldleft {
	opacity: 0;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-ms-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
	-webkit-transition: -webkit-transform .3s linear;
	-moz-transition: -moz-transform .3s linear;
	-ms-transition: -ms-transform .3s linear;
	-o-transition: -o-transform .3s linear;
	transition: transform .3s linear;
}
.foldleft.openleft {
	opacity: 1;
	-webkit-transform: perspective( 600px ) rotateY(0);
	-moz-transform: perspective( 600px ) rotateY(0);
	-ms-transform: perspective( 600px ) rotateY(0);
	-o-transform: perspective( 600px ) rotateY(0);
	transform: perspective( 600px ) rotateY(0);
}
.foldleft.closeleft {
	opacity: 1;
	-webkit-transform: perspective( 600px ) rotateY(90deg);
	-moz-transform: perspective( 600px ) rotateY(90deg);
	-ms-transform: perspective( 600px ) rotateY(90deg);
	-o-transform: perspective( 600px ) rotateY(90deg);
	transform: perspective( 600px ) rotateY(90deg);
}
#footer {
	width: 100%;
	padding: 5px 20px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index:999;
	background: #f3f3f3;
	height: 30px;
}
#footer ul {
	width: 100%;
	list-style:none;
	margin: 0;
	padding: 0;
	text-align: center;
}
#footer ul li {
	display:inline-block;
	margin: 0 1em;
}

.flipcard {
  -webkit-perspective: 800;
    position: relative;
}
.flipcard .card.flipped {
  -webkit-transform: rotateY(-180deg);
}
.flipcard .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 1s;
}
.flipcard .card .face {
  position: absolute;
  bottom: 0;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
}
.flipcard .card .front {
  z-index: 1;
}
.flipcard .card .back {
  -webkit-transform: rotateY(-180deg);
}

#factwrapper {
	padding-top: 70px;
	height: 100%;
}
.fact {
	width: 100%;
	height: 100%;
	display:table;
	padding: 100px 20px;
}
.fact h2 {
	font-size: 800%;
	color: #fff;
	margin-bottom: 40px;
}
.fact p {
	font-size: 200%;
	color: #fff;
}
.fact.one { background: #40C6BB; }
.fact.two { background: #5482b0; }
.fact.three { background: #F44747; }

#roomform {
	margin: 0;
	display: table;
	width: 100%;
}
#roomform select {
	margin-top: 5px;
	display: table-cell;
	width: 65%;
}
#roomform button {
	background: #ed7b5f;
	border: none;
	border-bottom: 2px solid #d66549;
	display: table-cell;
	text-align:center;
	height: 28px;
	width: 30%;
	float: right;
	border-radius: 3px;
	color: #fff;
	margin-top: 0;
	font-size: 90%;
}
#roomform button:hover {
	background: #d66549;
}

/* Overlay */
#simplemodal-overlay { z-index: 999999!important}

/* Container */
#simplemodal-container {min-height:70px; width:300px; color:#5b656e; background-color:#242B31; padding:20px; font-weight: bold; z-index: 9999999!important; top: 90px!important; text-align:center;}
.simplemodal-wrap { height: auto; }
#simplemodal-container .arrow-down {
	top: -20px;
	left: 50%;
	margin-left: -11px;
	border-top: 10px solid transparent;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #242B31;
}