@charset "UTF-8";
/* CSS Document */
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html, body {
	margin: 0;
	height: 100%;
	width: 100%;
	padding: 0;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #555;
	font-size: 14px;
	background: #f3f3f3;
}
#wrapper {
	margin-top: 70px;
	padding: 20px;
	-moz-transition:all 0.2s linear;
    -webkit-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;
}
#app {
	-moz-transition:all 0.2s linear;
    -webkit-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;
}
.slide-margin {
	margin-left: 240px!important;
}
#mapwrapper {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	background-image: -ms-radial-gradient(center, ellipse farthest-corner, #5986A8 0%, #0C2133 100%);
	background-image: -moz-radial-gradient(center, ellipse farthest-corner, #5986A8 0%, #0C2133 100%);
	background-image: -o-radial-gradient(center, ellipse farthest-corner, #5986A8 0%, #0C2133 100%);
	background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, #5986A8), color-stop(1, #0C2133));
	background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #5986A8 0%, #0C2133 100%);
	background-image: radial-gradient(ellipse farthest-corner at center, #5986A8 0%, #0C2133 100%);
}
#navbar {
	position: fixed;
	top: 0;
	left: 0;
	z-index:999999;
	background: #80D5B0;
	height: 70px;
  	width: 100%;
}
#navbar #drawer-toggle {
	padding: 25px 20px;
	color: #c7f5e1;
	height: 70px;
	white-space:nowrap;
	position: absolute;
	left: 0;
	top: 0;
	border-right: 1px solid #80D5B0;
	font-size: 0.9em;
	font-weight: bold;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
#navbar #drawer-toggle:hover {
	color: #fff;
}
#navbar #drawer-toggle.active {
	background: #76cfa8;
	color:#fff;
	border-right: 1px solid #67c29a;
}
#navbar ul#nav {
	list-style:none;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 100%;
}
#navbar ul#nav li {
	display:inline-block;
	margin: 0;
}
#navbar ul#nav li a {
	display:block;
	padding: 25px 30px;
	letter-spacing: 0.1em;
	height: 70px;
	text-decoration: none;
	font-size: 0.9em;
	color: #c7f5e1;
	font-weight: bold;
	border-left: 1px solid #80D5B0;
	border-right: 1px solid #80D5B0;
	text-transform: uppercase;
	-moz-transition:all 0.2s ease;
    -webkit-transition:all 0.2s ease;
    -o-transition:all 0.2s ease;
    transition:all 0.2s ease;
}
#navbar ul#nav li a:hover, #navbar ul#nav li a:focus {
	color: #fff;
}
#navbar ul#nav li a.active {
	background: #76cfa8;
	color:#fff;
	border-left: 1px solid #67c29a;
	border-right: 1px solid #67c29a;
}
#leftnav {
	height: 100%;
	background: #242B31;
	width: 50px;
	position: fixed;
	padding-top: 70px;
	z-index: 99999;
	top: 0;
	left: 0;
}
#leftnav #leftnav-footer {
	position: absolute;
	bottom: 0;
}
#leftdrawer {
	height: 100%;
	background: #242B31;
	color: #fff;
	width: 240px;
	height: 100%;
	position: fixed;
	padding: 80px 0 0 0;
	z-index: 9999;
	top: 0;
	left: 0;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	display: none;
}
#leftdrawer h2 {
	color: #4c575e;
	padding: 0 25px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 95%;
	margin: 20px 0 10px;
}
#leftdrawer ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#leftdrawer ul li a {
	color: #ccc;
	text-decoration: none;
	display: block;
	padding: 10px 20px 10px 35px;
}
#leftdrawer ul li a:hover {
	color: #fff;
	background: #2f363d;
}
#leftdrawer i {
	padding-right: 15px;
}
#labelpanel, #eventpanel {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	width: 240px;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9999;
	background: #2f363d;
	padding: 85px 20px 20px 20px;
	margin-left: 50px;
	color: #ccc;
	display: none;
}
#labelpanel h2, #eventpanel h2 {
	color: #4c575e;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 95%;
	margin: 5px 0 15px;
}
#modalpanel {
	position: absolute;
	z-index: 99;
	display: none;
	width: 320px;
	color:#555;
}
#modalpanel header {
	padding: 10px 20px;
	background: #80D5B0;
}
#modalpanel i {
	padding-right: 10px;
}
#modalpanel header h2 {
	margin: 0;
	color: #fff;
	font-weight: bold;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-size: 0.9em;
}
#modalpanel img {
	border: none;
	width: 100%;
	margin: 0;
}
#modalpanel section {
	padding: 20px;
	background: #fff;
}
#modalpanel section p { margin-bottom: 0; }
#modalpanel footer {
	background: #f3f3f3;
	padding: 10px 20px;
	border-bottom: 2px solid #f3f3f3;
}
#modalpanel footer span {
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 0.9em;
	color:#999;
}
#modalpanel footer a {
	float: right;
	color:#999;
}
#modalpanel footer a i {
	padding: 0;
}
.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #f3f3f3;
	margin:0 auto;
}
.tweetpanel {
	position: absolute;
	z-index: 99;
	display: none;
}
.opaque {
	display: block!important;
}
#controls {
	position: absolute;
	top: 90px;
	right: 20px;
	z-index: 9999;
}
.checked {
	color: #fff;
	background: #2f363d; 
}
.unchecked {
	color: #ccc;
	background: #242B31;
}
.ui-tooltip {
	padding: 8px;
	position: absolute;
	z-index: 9999;
	max-width: 300px;
	background: #21262e;
	color: #fff;
	border: none;
	border-radius: 0;
	font-size: 0.8em;
}
.fold {
	opacity: 0;
	-webkit-transform-origin: top center;
	-moz-transform-origin: top center;
	-ms-transform-origin: top center;
	-o-transform-origin: top center;
	transform-origin: top center;
	-webkit-transform: rotateX(-90deg);
	-moz-transform: rotateX(-90deg);
	-ms-transform: rotateX(-90deg);
	-o-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
	-webkit-transition: -webkit-transform .3s linear;
	-moz-transition: -moz-transform .3s linear;
	-ms-transition: -ms-transform .3s linear;
	-o-transition: -o-transform .3s linear;
	transition: transform .3s linear;
}
.fold.open {
	opacity: 1;
	-webkit-transform: perspective( 600px ) rotateX(0);
	-moz-transform: perspective( 600px ) rotateX(0);
	-ms-transform: perspective( 600px ) rotateX(0);
	-o-transform: perspective( 600px ) rotateX(0);
	transform: perspective( 600px ) rotateX(0);
	transition-delay: 1s;
	-webkit-transition-delay: 1s;
}
.fold.close {
	opacity: 1;
	-webkit-transform: perspective( 600px ) rotateX(-90deg);
	-moz-transform: perspective( 600px ) rotateX(-90deg);
	-ms-transform: perspective( 600px ) rotateX(-90deg);
	-o-transform: perspective( 600px ) rotateX(-90deg);
	transform: perspective( 600px ) rotateX(-90deg);
}
#footer {
	width: 100%;
	padding: 5px 20px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index:999;
	background: #f3f3f3;
	height: 30px;
}
#footer ul {
	width: 100%;
	list-style:none;
	margin: 0;
	padding: 0;
	text-align: center;
}
#footer ul li {
	display:inline-block;
	margin: 0 1em;
}