@charset "UTF-8";
/* CSS Document */

html, body {
	margin: 0;
	height: 100%;
	width: 100%;
	padding: 0;
	overflow: hidden;
}
body {
	font-family: Arial;
	font-size: 14px;
	background-image: -ms-radial-gradient(center, ellipse farthest-corner, #5986A8 0%, #0C2133 100%);
	background-image: -moz-radial-gradient(center, ellipse farthest-corner, #5986A8 0%, #0C2133 100%);
	background-image: -o-radial-gradient(center, ellipse farthest-corner, #5986A8 0%, #0C2133 100%);
	background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, #5986A8), color-stop(1, #0C2133));
	background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #5986A8 0%, #0C2133 100%);
	background-image: radial-gradient(ellipse farthest-corner at center, #5986A8 0%, #0C2133 100%);
}
h1,h2,h3,h4 {
	margin-top: 0;
}
#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#222; /* change if the mask should have another color then white */
    z-index:999999; /* makes sure it stays on top */
}
#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url(../images/gif-load.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}
#wrapper {
	width: 100%;
	height: 100%;
}
#leftnav {
	height: 100%;
	background: #fff;
	width: 50px;
	position: absolute;
	z-index: 9999;
	top: 0;
	left: 0;
}
#leftnav #leftnav-footer {
	position: absolute;
	bottom: 0;
}
#slidepanel, #labelpanel, #eventpanel {
	width: 220px;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 999;
	background: #21262e;
	padding: 65px 20px 20px 70px;
	display: none;
	color: #fff;
}
#controls {
	position: absolute;
	right: 0;
	z-index: 9999;
}
button {
	background: #fff;
	cursor: pointer;
	border: none;
	margin: 0;
	height: 50px;
	width: 50px;
	-moz-transition:background-color 0.2s ease;
    -webkit-transition:background-color 0.2s ease;
    -o-transition:background-color 0.2s ease;
    transition:background-color 0.2s ease;
	font-size: 1em;
	color: #333;
	float: left;
}
button:hover, #controls button:focus, button.active {
	background: #21262e;
	color: #fff;
}
#labelpanel button {
	background: #323945;
	cursor: pointer;
	border: none;
	width: 100%;
	text-align: left;
	margin: 0;
	font-size: 1em;
	color: #fff;
	float: left;
	padding: 10px 15px;
	border-bottom: solid 2px #1c2129;
}
#labelpanel button:hover, #labelpanel button:focus {
	background: #2c323d;
	color: #fff;
}
#labelpanel button.active {
	background: #1c2129;
	color: #ccc;
}
.checked:before {
	font-family: FontAwesome;
	content: "\f111";
	padding: 0 20px 0 0;
}
.unchecked:before {
	font-family: FontAwesome;
	content: "\f10c";
	padding: 0 20px 0 0;
}