@charset "UTF-8";
/* CSS Document */
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html, body {
	margin: 0;
	height: 100%;
	width: 100%;
	padding: 0;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #555;
	font-size: 14px;
	background: #374047;
}
#wrapper {
	margin-top: 70px;
	margin-left: 60px;
	padding: 20px 10px;
	-moz-transition:all 0.3s linear;
    -webkit-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    transition:all 0.3s linear;
}
#app {
	-moz-transition:all 0.2s linear;
    -webkit-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;
}
.slide-margin {
	margin-left: 340px!important;
}
#mapwrapper {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	background-image: -ms-radial-gradient(center, ellipse farthest-corner, #0099cc 0%, #0f5e78 100%);
	background-image: -moz-radial-gradient(center, ellipse farthest-corner, #0099cc 0%, #0f5e78 100%);
	background-image: -o-radial-gradient(center, ellipse farthest-corner, #0099cc 0%, #0f5e78 100%);
	background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, #0099cc), color-stop(1, #0f5e78));
	background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #0099cc 0%, #0f5e78 100%);
	background-image: radial-gradient(ellipse farthest-corner at center, #0099cc 0%, #0f5e78 100%);
}
#navbar {
	position: fixed;
	top: 0;
	left: 0;
	z-index:9999;
	background: #fcfcfc;
	height: 70px;
  	width: 100%;
	border-bottom: #eee solid 1px;
}
#navbar #drawer-toggle {
	padding: 14px 14px;
	color: #fff;
	height: 70px;
	white-space:nowrap;
	position: absolute;
	left: 0;
	top: 5px;
	font-size: 0.9em;
	font-weight: bold;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
#navbar #drawer-toggle:hover {
	color: #fff;
}
#navbar #drawer-toggle.active {
	background: #023f70;
	color:#fff;
}
#navbar ul#nav {
	list-style:none;
	margin: 0 0 0 70px;
	padding: 0;
	text-align: right;
}
#navbar ul#nav li {
	display: inline-block;
	margin: 0 0 0 -4px;
	border-left: 1px solid #eee;
}
#navbar ul#nav li a {
	display:block;
	padding: 25px 30px 0;
	letter-spacing: 0.1em;
	height: 70px;
	text-decoration: none;
	font-size: 0.9em;
	color: #999;
	font-weight: 400;
	text-transform: uppercase;
	-moz-transition:all 0.2s ease;
    -webkit-transition:all 0.2s ease;
    -o-transition:all 0.2s ease;
    transition:all 0.2s ease;
}
#navbar ul#nav li:last-child{
	border-left: none;
}
#navbar ul#nav li a:hover, #navbar ul#nav li a:focus, #navbar ul#nav li a.active {
	background: #f6f6f6;
	color:#999;
	border-bottom: 1px solid #eee;
}
#navbar ul#nav li#twitter a { background: #55acee; color: #fff; border: none; }
#navbar ul#nav li#facebook a { background: #4c66a4; color: #fff; border: none; }
#navbar ul#nav li#github a { background: #333; color: #fff; border: none; }
#navbar ul#nav li#twitter, #navbar ul#nav li#facebook, #navbar ul#nav li#github { border: none; width: 70px; }
#leftnav {
	height: 100%;
	background: #242B31;
	width: 60px;
	position: fixed;
	z-index: 999999;
	top: 70px;
	left: 0;
}
#leftnav #leftnav-footer {
	position: fixed;
	bottom: 0;
	border-top: 1px solid #1f262b;
}
#leftdrawer {
	height: 100%;
	background: #242B31;
	color: #fff;
	width: 240px;
	height: 100%;
	position: fixed;
	padding: 80px 0 0 0;
	z-index: 999;
	top: 0;
	left: 0;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	display: none;
}
#leftdrawer h2 {
	color: #4c575e;
	padding: 0 25px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 95%;
	margin: 20px 0 10px;
}
#leftdrawer ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#leftdrawer ul li a {
	color: #ccc;
	text-decoration: none;
	display: block;
	padding: 10px 20px 10px 35px;
}
#leftdrawer ul li a:hover {
	color: #fff;
	background: #2f363d;
}
#leftdrawer i {
	padding-right: 15px;
}

.slide-drawer {
	height: auto;
	background: #f8f8f8;
	width: 280px;
	position: fixed;
	z-index: 9999;
	top: 70px;
	left: 60px;
	bottom:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: none;
	overflow: auto;
}
.slide-drawer.secondary {
	left: 340px;
	padding-top: 10px;
}
.slide-drawer.secondary ul {
	margin-bottom: 10px;
}
.slide-drawer div {
	display: none;
}
.slide-drawer h2 {
	color: #fff;
	height: 59px;
	font-weight: 300;
	letter-spacing: 0px;
	text-transform: none;
	font-size: 18px;
	padding: 17px 30px;
	margin:0 0 15px;
	background: #629ad1;
}
.slide-drawer h3 {
	color: #999;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: normal;
	font-size: 95%;
	padding: 10px 0;
	margin: 0 30px 10px;
	border-bottom: 1px solid #ddd;
}
.slide-drawer ul {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 20px;
}
.slide-drawer ul li a {
	text-decoration: none;
	display: block;
	padding: 10px 30px;
	color: #666;
	font-size: 95%;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid #f8f8f8;
}
.slide-drawer ul li a.toggle:before {
	font-family: 'FontAwesome';
	content: "\f10c";
	float: right;
	padding-top: 3px;
}
.slide-drawer ul li a.toggled:before {
	font-family: 'FontAwesome';
	content: "\f192";
	float: right;
	padding-top: 3px;
}
.slide-drawer ul li a:hover, .slide-drawer ul li a.toggled, .checked {
	background: #f3f3f3;
	border-top: 1px solid #ececec!important;
	border-bottom: 1px solid #ececec!important;
}
.orange.toggled:before {
	color: #faaa5b;
}
.green.toggled:before {
	color: #5fd081;
}
.red.toggled:before {
	color: #d47356;
}
.blue.toggled:before {
	color: #55acee;
}
.purple.toggled:before {
	color: #ca70e3;
}
.slide-drawer i {
	float: right;
	padding-top: 3px;
}
.slide-drawer .event {
	padding: 15px 30px;
	display: inherit!important;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid #f8f8f8;
}
.slide-drawer .event:hover {
	background: #f3f3f3;
	color: #333;
	border-top: 1px solid #ececec;
	border-bottom: 1px solid #ececec;
}
.slide-drawer .event img {
	float: left;
	padding-right: 10px;
}
.slide-drawer .event h3 {
	font-weight: normal;
	letter-spacing: 0;
	text-transform: none;
	display: inline-block;
	margin: 0;
	padding:0 0 5px 0;
	color: #666;
	border-bottom: none;
}
.slide-drawer .event p {
	display: block;
	margin:0;
	padding:0 0 8px 0;
	color: #999;
	font-size: 95%;
}
#modalpanel {
	position: absolute;
	z-index: 99;
	display: none;
	color:#555;
	font-weight: 400;
	width: 460px;
}
#modalpanel h2 {
	font-size: 160%;
	color: #666;
	margin-bottom: 5px;
	padding-right: 20px;
}
#modalpanel h3 {
	font-weight: 400;
	color: #999;
	margin-top: 0;
	font-size: 1em;
}
#modalpanel h3 i {
	padding-right: 5px;
}
#modalfront, #modalback {
	width: 100%;
	background: #f8f8f8;
	margin-bottom: 20px;
}
#modalpanel .header {
	padding: 20px;
	width: 160px;
	float: left;
}
#modalpanel .header img {
	border: none;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	border: 5px solid #629ad1;
	display: block;
	margin: 0;
}
#modalpanel .header p {
	text-align: center;
	color: #999;
	margin-top: 20px;
}
#modalpanel .header a {
	display: block;
	padding: 10px 20px;
	text-align:center;
	background: #629ad1;
	color: #fff;
	margin-top: 20px;
	border-radius: 3px;
}
#modalpanel .content a {
	position: absolute;
	right: 20px;
	top: 20px;
	color: #ccc;
}

#modalpanel .content {
	width: 300px;
	float: left;
	padding: 20px 20px 20px 0;
	position: relative;
}
#modalpanel #modalback .content {
	padding: 20px 30px 40px;
}
#modalpanel .content p {
	margin: 0;
}
#modalpanel .footer {
	width: 100%;
	clear: both;
	background: #f3f3f3;
	position: relative;
}
#modalpanel .footer ul {
	border-top: 1px solid #ddd;
	list-style-type:none;
	margin: 0;
	padding: 20px;
}
#modalpanel .footer ul li {
	display: inline-block;
	width: 33%;
	text-align: center;
	color: #999;
	border-right: 1px solid #ddd;
}
#modalpanel .footer ul li:last-child {
	border-right: none;
}
#modalpanel .footer span {
	padding-bottom: 5px;
	display: block;
	font-size: 1.3em;
}
.arrow-down {
	position: absolute;
	bottom: -20px;
	left: 50%;
	margin-left: -20px;
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #f3f3f3;
}
.tweetpanel {
	position: absolute;
	z-index: 99;
	display: none;
}
.opaque {
	display: block!important;
}
#controls {
	position: absolute;
	bottom: 40px;
	right: 50%;
	margin-right:  -90px;
	z-index: 9999;
	width: 120px;
}
#controls button {
	height: 40px;
	width: 40px;
	color: #5b656e;
	border: none;
}
#controls button:hover {
	background: #629ad1;
	color: #fff;
}
.unchecked {
	color: #6d7882;
	background: #2a3138;
}
button {
	outline: 0;
	background: #242B31;
	cursor: pointer;
	border: none;
	margin: 0;
	height: 60px;
	width: 60px;
	border-top: 1px solid #2a3138;
	border-bottom: 1px solid #1f262b;
	-moz-transition:background-color 0.2s ease;
    -webkit-transition:background-color 0.2s ease;
    -o-transition:background-color 0.2s ease;
    transition:background-color 0.2s ease;
	font-size: 1em;
	color: #5b656e;
	float: left;
}
button:hover, button.active {
	color: #fff;
}
a {
	-moz-transition:all 0.2s ease;
    -webkit-transition:all 0.2s ease;
    -o-transition:all 0.2s ease;
    transition:all 0.2s ease;
	color: #666;
	text-decoration:none;
}
.ui-tooltip {
	padding: 8px;
	position: absolute;
	z-index: 9999;
	max-width: 300px;
	background: #21262e;
	color: #fff;
	border: none;
	border-radius: 0;
	font-size: 0.8em;
}
.fold {
	opacity: 0;
	-webkit-transform-origin: top center;
	-moz-transform-origin: top center;
	-ms-transform-origin: top center;
	-o-transform-origin: top center;
	transform-origin: top center;
	-webkit-transform: rotateX(-90deg);
	-moz-transform: rotateX(-90deg);
	-ms-transform: rotateX(-90deg);
	-o-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
	-webkit-transition: -webkit-transform .3s linear;
	-moz-transition: -moz-transform .3s linear;
	-ms-transition: -ms-transform .3s linear;
	-o-transition: -o-transform .3s linear;
	transition: transform .3s linear;
}
.fold.open {
	opacity: 1;
	-webkit-transform: perspective( 600px ) rotateX(0);
	-moz-transform: perspective( 600px ) rotateX(0);
	-ms-transform: perspective( 600px ) rotateX(0);
	-o-transform: perspective( 600px ) rotateX(0);
	transform: perspective( 600px ) rotateX(0);
	transition-delay: 1s;
	-webkit-transition-delay: 1s;
}
.fold.close {
	opacity: 1;
	-webkit-transform: perspective( 600px ) rotateX(-90deg);
	-moz-transform: perspective( 600px ) rotateX(-90deg);
	-ms-transform: perspective( 600px ) rotateX(-90deg);
	-o-transform: perspective( 600px ) rotateX(-90deg);
	transform: perspective( 600px ) rotateX(-90deg);
}
#footer {
	width: 100%;
	padding: 5px 20px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index:999;
	background: #f3f3f3;
	height: 30px;
}
#footer ul {
	width: 100%;
	list-style:none;
	margin: 0;
	padding: 0;
	text-align: center;
}
#footer ul li {
	display:inline-block;
	margin: 0 1em;
}

.flipcard {
  -webkit-perspective: 800;
    position: relative;
}
.flipcard .card.flipped {
  -webkit-transform: rotateY(-180deg);
}
.flipcard .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 1s;
}
.flipcard .card .face {
  position: absolute;
  bottom: 0;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
}
.flipcard .card .front {
  z-index: 1;
}
.flipcard .card .back {
  -webkit-transform: rotateY(-180deg);
}