@charset "UTF-8";
/* CSS Document */
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html, body {
	margin: 0;
	height: 100%;
	width: 100%;
	padding: 0;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #555;
	font-size: 14px;
	background: #374047;
}
#wrapper {
	margin-top: 70px;
	margin-left: 60px;
	padding: 20px 10px;
	-moz-transition:all 0.3s linear;
    -webkit-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    transition:all 0.3s linear;
}
#app {
	-moz-transition:all 0.2s linear;
    -webkit-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;
}
.slide-margin {
	margin-left: 340px!important;
}
#mapwrapper {
	display: none;
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	background-color: #6fabbf;
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #549FB8),
	color-stop(1, #CAF7F7)
);
background-image: -o-linear-gradient(bottom, #6fabbf 0%, #CAF7F7 100%);
background-image: -moz-linear-gradient(bottom, #6fabbf 0%, #CAF7F7 100%);
background-image: -webkit-linear-gradient(bottom, #6fabbf 0%, #CAF7F7 100%);
background-image: -ms-linear-gradient(bottom, #6fabbf 0%, #CAF7F7 100%);
background-image: linear-gradient(to bottom, #6fabbf 0%, #CAF7F7 100%);
}
#navbar {
	position: fixed;
	top: 0;
	left: 0;
	z-index:9999;
	background: #f6f6f6;
	height: 70px;
  	width: 100%;
	box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.3);
}
#navbar #logo {
	padding: 0 20px;
	width: 340px;
	color: #fff;
	height: 70px;
	position: absolute;
	left: 0;
	top: 0;
	background: #3ca4cf;
	border-bottom: 2px solid #3495bf;
}
#navbar h1 {
	padding: 23px;
	font-weight: 300;
	color: #fff;
	height: 70px;
	position: absolute;
	left: 80px;
	top: 0;
	font-size: 18px;
}
#navbar ul#nav {
	list-style:none;
	margin: 0 0 0 90px;
	padding: 0;
	text-align: right;
}
#navbar ul#nav li {
	display: inline-block;
	margin: 0 0 0 -4px;
}
#navbar ul#nav li#search-toggle {
	display: none;
}
#navbar ul#nav li a {
	display:block;
	padding: 25px 30px 0;
	height: 70px;
	text-decoration: none;
	font-size: 100%;
	color: #666;
	font-weight: 400;
	text-transform: none;
}
#navbar ul#nav li a i {
	padding-right: 10px;
}
#navbar ul#nav li#share a i {
	padding-right: 0;
}
#navbar ul#nav li a:hover, #navbar ul#nav li a:focus, #navbar ul#nav li a.active {
	background: #eee;
}
#navbar ul#nav li#share a { background: #ed7b5f; color: #fff; border-bottom: 2px solid #d66549; width: 70px; }
#navbar ul#nav li#twitter a:hover { background: #55acee; color: #fff; }
#navbar ul#nav li#facebook a:hover { background: #4c66a4; color: #fff; }
#navbar ul#nav li#github a:hover { background: #333; color: #fff; }
#navbar ul#nav li#share a:hover { background: #d66549; border-bottom: 2px solid #d66549; }
#navbar #sharebox { 
	display: none;
	position: absolute;
	top: 70px;
	right: 5px;
}
#navbar #sharebox ul { 
	margin: 0;
	margin-top: 10px;
	padding: 0;
	list-style: none;
}
#navbar #sharebox ul li a {
	padding: 20px;
	display: block;
	text-align: center;
	width: 60px;
	height: 60px;
	background: #242B31;
}
#navbar #sharebox ul li a:hover {
	background: #242B31;
	color: #fff;
}
#navbar #sharebox .arrow-down {
	top: -10px;
	left: 50%;
	margin-left: -11px;
	border-top: 10px solid transparent;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #242B31;
}
#search, #search2 {
	position: absolute;
	left: 360px;
	top: 15px;
	z-index: 99999;
	height: 70px;
	display:block;
}
#search2 {
	display:none;
}
#search #searchForm label, #search2 #searchForm label  {
	color: #999;
	font-size: 18px;
}
.search-error {
	font-family: FontAwesome;
	color: #999;
	position: absolute;
	top: 12px;
	right: 0;
	z-index: 9999999;
	display: none;
}
.search-error a { color: #666; }
::-webkit-input-placeholder { color: #666; }
:-moz-placeholder { color: #666; }
::-moz-placeholder { color: #666; }
:-ms-input-placeholder { color: #666; }
#search #searchForm input#searchBox, #search2 #searchForm input#searchBox {
	padding: 7px 5px;
	font-size: 16px;
	border: none;
	color: #666;
	outline: none;
	background-color: transparent;
	font-family: 'Open Sans', sans-serif!important;
	font-weight: 400;
	width: 300px;
}
.ui-autocomplete {
    position: absolute;
	z-index: 999999;
	-moz-border-radius: 0px!important;
	-webkit-border-radius: 0px!important;
	-khtml-border-radius: 0px!important;
	border-radius: 0px!important;
	border: 1px solid #ddd!important;
	background: #fcfcfc!important;
	overflow: auto!important;
	max-height: 80%!important;
}
.ui-autocomplete a {
	color: #666!important;
	font-size: 90%!important;
	font-family: 'Open Sans', sans-serif!important;
	padding: 7px 10px!important;
}
.ui-menu {
	padding: 0!important;
}
.ui-autocomplete .ui-menu-item a:hover, .ui-autocomplete .ui-menu-item a:focus, .ui-state-focus {
	color: #666!important;
	font-size: 90%!important;
	font-family: 'Open Sans', sans-serif!important;
	background-color: #eee!important;
	background-image:none!important;
	border: none!important;
	-moz-border-radius: 0px!important;
	-webkit-border-radius: 0px!important;
	-khtml-border-radius: 0px!important;
	border-radius: 0px!important;
	cursor: pointer;
}
#leftnav {
	height: 100%;
	background: #242B31;
	width: 60px;
	position: fixed;
	z-index: 9999999;
	top: 70px;
	left: 0;
}
#leftnav #leftnav-footer {
	position: absolute;
	bottom: 70px;
	border-top: 1px solid #1f262b;
	z-index: 999999;
}
.slide-drawer {
	height: auto;
	background: #f6f6f6;
	width: 280px;
	position: fixed;
	z-index: 999999;
	top: 70px;
	left: 60px;
	bottom:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: none;
	overflow: auto;
}
.slide-drawer .slidepanel {
	display: none;
}
.slide-drawer h2 {
	color: #3ca4cf;
	height: 59px;
	font-weight: 300;
	letter-spacing: 1px;
	text-transform: none;
	font-size: 22px;
	letter-spacing: 1px;
	padding: 15px 30px;
	margin:0;
	
}
.slide-drawer h3 {
	color: #999;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 95%;
	padding: 10px 0 8px;
	margin: 0 30px 10px;
	border-bottom: 1px solid #ddd;
}
.slide-drawer p {
	color: #666;
	font-size: 95%;
	margin: 0 30px 20px;
}

.slide-drawer ul {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 10px;
}
.slide-drawer ul li a {
	text-decoration: none;
	display: block;
	padding: 10px 30px;
	color: #666;
	font-size: 95%;
}
.slide-drawer ul li a.toggle:before {
	font-family: 'FontAwesome';
	content: "\f096";
	float: right;
	padding-top: 3px;
	color: #ddd;
}

.slide-drawer ul li a.toggled:before {
	font-family: 'FontAwesome';
	content: "\f0c8";
	float: right;
	padding-top: 3px;
}
.slide-drawer ul li a:hover, .checked {
	background: #eee;
}
#labelall.toggled:before  {
	color: #ddd;
}
#labeltoggle.toggled:before  {
	content: "\f02b";
}
#eventtoggle.toggled:before  {
	content: "\f041";
}
#tweettoggle.toggled:before  {
	content: "\f099";
	color: #55acee;
}
#bustoggle.toggled:before  {
	content: "";
	background: url(../images/icons/ico_bus.png);
	width: 12px;
	height: 15px;
}
#foodtoggle.toggled:before  {
	content: "\f0f5";
	color: #53bd9b;
}
#facttoggle.toggled:before  {
	content: "?";
	font-weight: bold;
	padding: 0 2px 0 0;
	font-size: 120%;
	color: #ed7b5f;
	font-family: 'Open Snas', sans-serif;
}
#accommodationtoggle.toggled:before {
	color: #57b1cf;
}
#teachingtoggle.toggled:before {
	color: #3bbf8a;
}
#admintoggle.toggled:before {
	color: #8a43d1;
}
#communitytoggle.toggled:before {
	color: #ed5151;
}
#maintenancetoggle.toggled:before {
	color: #f24889;
}
#developmenttoggle.toggled:before {
	color: #e6be68;
}
#visitorparking.toggled:before {
	color: #1e3954;
}
#permitparking.toggled:before {
	color: #4d7ba8;
}
#keynesbus.toggled:before {
	color: #ac5fcf;
	content: "\f068";
}
#darwinbus.toggled:before {
	color: #cc3333;
	content: "\f068";
}
#parkwoodbus.toggled:before {
	color: #0099cc;
	content: "\f068";
}
#cycleroutes.toggled:before {
	color: #ff9900;
	content: "\f068";
}
#footpaths.toggled:before {
	color: #333;
	content: "\f068";
}
#roadnames.toggled:before {
	color: #ed7b5f;
}
#bikeracks.toggled:before {
	content: "\f111";
	color: #ff9900;
}
#busstops.toggled:before {
	content: "\f111";
	color: #cc3333;
}
#investment-panel a.toggled:before {
	color: #3798b8;
}
.slide-drawer i {
	float: right;
	padding-top: 3px;
}
.slide-drawer a.external {
	padding: 10px;
	font-weight: 300;
	text-align: center;
	border-radius: 3px;
	background: #ed7b5f;
	border-bottom: 2px solid #d66549;
	color: #fff;
	margin: 20px 30px;
	font-size: 90%;
	display: block;
}
.slide-drawer a.external:hover {
	background: #d66549;
	border-bottom: 2px solid #d66549;
	color: #fff;
}
#eventlist {
	padding-top: 10px;
}
#eventlist h3 {
	margin: 0 0 5px 0;
	font-size: 100%;
	border: none;
	padding: 0;
}
#eventlist h3 a {
	margin: 0;
	font-size: 100%;
	border: none;
	background-color: transparent;
	padding: 0;
	font-weight: normal;
	text-transform:none;
	color: #3ca4cf;
	text-decoration: underline;
}
#eventlist h3 a:hover {
	text-decoration: none;
}
#eventlist li {
	padding: 0 0 20px;
	margin: 0 30px;
	display:table;
}
#eventlist li .time {
	color: #999;
	font-size: 90%;
}
#eventlist li .category a {
	color: #999;
	font-size: 90%;
	font-weight: normal;
	display:block;
	padding: 0;
}
#eventlist li .category a i {
	float: none;
	padding-right: 8px;
}
#eventlist li .category a:hover {
	background-color: transparent;
	color: #666;
}
#modalpanel {
	position: absolute;
	z-index: 99;
	display: none;
	color:#555;
	font-weight: 400;
	width: 480px;
}
#modalpanel h2 {
	font-size: 160%;
	color: #666;
	margin-bottom: 5px;
	padding-right: 20px;
}
#modalpanel h3 {
	font-weight: 400;
	color: #999;
	margin-top: 5px;
	font-size: 1em;
}
#modalpanel h3 i {
	padding-right: 5px;
}
#modalfront, #modalback {
	width: 100%;
	background: #f8f8f8;
	margin-bottom: 20px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
}
#modalpanel .header {
	padding: 20px;
	width: 160px;
	float: left;
}
#modalpanel .header img {
	border: none;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	border: 5px solid #3ca4cf;
	display: block;
	margin: 0;
}
#modalpanel .header p {
	text-align: center;
	color: #999;
	margin-top: 20px;
}
#modalpanel .header a {
	display: block;
	padding: 10px 20px;
	text-align:center;
	background: #3ca4cf;
	color: #fff;
	margin-top: 20px;
	border-radius: 3px;
}
#modalpanel .content a {
	position: absolute;
	right: 0;
	top: 0;
	color: #ccc;
	padding: 20px;
}

#modalpanel .content {
	width: 320px;
	float: left;
	padding: 20px 20px 25px 0px;
	position: relative;
}
#modalpanel #modalback .content {
	padding: 20px 30px 40px;
}
#modalpanel .content p {
	margin: 0;
}
#modalpanel .footer {
	width: 100%;
	clear: both;
	background: #eee;
	position: relative;
	padding: 15px 20px;
	border-top: #ddd solid 1px;
}
#modalpanel .footer ul {
	list-style-type:none;
	margin: 0;
	padding: 0;
}
#modalpanel .footer ul li {
	display: inline-block;
	width: 33%;
	text-align: center;
	color: #666;
	border-right: 1px solid #ccc;
}
#modalpanel .footer ul li:last-child {
	border-right: none;
}
#modalpanel .footer span {
	padding-bottom: 5px;
	display: block;
	font-size: 1.3em;
}
.arrow-down {
	position: absolute;
	bottom: -20px;
	left: 50%;
	margin-left: -20px;
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #f8f8f8;
}
.arrow-down.grey{
	border-top: 20px solid #eee;
}
.tweetpanel {
	position: absolute;
	z-index: 99;
	display: none;
}
.busmodal {
	position: absolute;
	z-index: 99;
	display: none;
	color:#555;
	font-weight: 400;
	width: 360px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
}
.busmodal .header {
	background: #9176b9;
	color: #fff;
	padding: 10px 20px;
}
.busmodal .header .closebus {
	position: absolute;
	top: 0;
	right: 10px;
	color: #fff;
	padding: 10px;
}
.busmodal .header h2 {
	margin: 0;
	font-size: 100%;
}
.busmodal .content {
	background: #f6f6f6;
	padding: 20px 20px;
	height: 245px;
	overflow: auto;
}
.busmodal .content th {
	padding: 0 10px 15px;
	text-align: center;
	color: #999;
	border-bottom: 1px #eee solid;
	margin-bottom: 10px;
}
.busmodal .content .orange {
	color: #ed7b5f;
}
.busmodal .content td {
	padding: 5px 10px;
	text-align: center;
}
#factmodal, #foodmodal {
	position: absolute;
	z-index: 99;
	display: none;
	color:#fff;
	font-weight: 400;
	width: 360px;
	background: #ed7b5f;
	padding: 20px;
	text-align: center;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.6);
}
#foodmodal {
	background: #53bd9b;
}
.closefact {
	position: absolute;
	right: 0;
	top: 0;
	padding: 20px;
}
#factmodal h2, #foodmodal h2 {
	font-weight: bold;
}
#factmodal .arrow-down {
	border-top: 20px solid #ed7b5f;
}
#foodmodal .arrow-down {
	border-top: 20px solid #53bd9b;
}
#factmodal a, #foodmodal a {
	color: #fff;
}
canvas {
	font-size: 16px;
}
.opaque {
	display: block!important;
}
#controls {
	position: absolute;
	bottom: 40px;
	left: 50%;
	margin-left: -75px;
	z-index: 990;
	width: 150px;
	display: none;
}
#controls button:hover {
	color: #3ca4cf;
	background: #f6f6f6;
}
#twod {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	color: #5b656e;
	background: #242B31;
	border: none;
}
#twod img {
	width: 24px;
}
#twod:hover {
	color: #3ca4cf;
	background: #242B31;
}
#rotateleft, #rotateright {
	width: 50px;
	height: 50px;
	background-color: transparent;
	color: #242B31;
	font-size: 150%;
}
#rotateleft:hover, #rotateright:hover {
	background-color: transparent!important;
	color: #3ca4cf;
}
.unchecked {
	color: #6d7882;
	background: #2a3138;
}
button {
	outline: 0;
	background: #242B31;
	cursor: pointer;
	border: none;
	margin: 0;
	height: 60px;
	width: 60px;
	font-size: 1em;
	color: #5b656e;
	float: left;
	-moz-transition:all 0.2s ease-in;
    -webkit-transition:all 0.2s ease-in;
    -o-transition:all 0.2s ease-in;
    transition:all 0.2s ease-in;
}
button:hover, button.active {
	color: #3ca4cf;
	background: #f6f6f6;
}
a {
	color: #666;
	text-decoration:none;
}
#switchmap {
	position: absolute;
	bottom: 30px;
	right: 30px;
	z-index: 989;
	width: 80px;
	height: 80px;
	border: 3px #242B31 solid;
	background: url("../images/satellite.jpg");
	color: #fff;
	vertical-align: bottom;
	display: none;
}
#googlecopy {
	position:absolute;
	bottom: 0;
	right: 0;
	padding: 3px 5px;
	background: #242B31;
	color: #5b656e;
	font-size: 70%;
	display: none;
}
.ui-tooltip {
	padding: 8px;
	position: absolute;
	z-index: 99999!important;
	max-width: 300px;
	background: #21262e;
	color: #fff;
	border: none;
	border-radius: 0;
	font-size: 0.8em;
}
.fold {
	opacity: 0;
	-webkit-transform-origin: top center;
	-moz-transform-origin: top center;
	-ms-transform-origin: top center;
	-o-transform-origin: top center;
	transform-origin: top center;
	-webkit-transition: -webkit-transform .3s linear;
	-moz-transition: -moz-transform .3s linear;
	-ms-transition: -ms-transform .3s linear;
	-o-transition: -o-transform .3s linear;
	transition: transform .3s linear;
}
.fold.open {
	opacity: 1;
	-webkit-transform: perspective( 600px ) rotateX(0);
	-moz-transform: perspective( 600px ) rotateX(0);
	-ms-transform: perspective( 600px ) rotateX(0);
	-o-transform: perspective( 600px ) rotateX(0);
	transform: perspective( 600px ) rotateX(0);
}
.fold.close {
	opacity: 1;
	-webkit-transform: perspective( 600px ) rotateX(-90deg);
	-moz-transform: perspective( 600px ) rotateX(-90deg);
	-ms-transform: perspective( 600px ) rotateX(-90deg);
	-o-transform: perspective( 600px ) rotateX(-90deg);
	transform: perspective( 600px ) rotateX(-90deg);
}
.foldleft {
	opacity: 0;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-ms-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
	-webkit-transition: -webkit-transform .3s linear;
	-moz-transition: -moz-transform .3s linear;
	-ms-transition: -ms-transform .3s linear;
	-o-transition: -o-transform .3s linear;
	transition: transform .3s linear;
}
.foldleft.openleft {
	opacity: 1;
	-webkit-transform: perspective( 600px ) rotateY(0);
	-moz-transform: perspective( 600px ) rotateY(0);
	-ms-transform: perspective( 600px ) rotateY(0);
	-o-transform: perspective( 600px ) rotateY(0);
	transform: perspective( 600px ) rotateY(0);
}
.foldleft.closeleft {
	opacity: 1;
	-webkit-transform: perspective( 600px ) rotateY(90deg);
	-moz-transform: perspective( 600px ) rotateY(90deg);
	-ms-transform: perspective( 600px ) rotateY(90deg);
	-o-transform: perspective( 600px ) rotateY(90deg);
	transform: perspective( 600px ) rotateY(90deg);
}
.flipcard {
  -webkit-perspective: 800;
    position: relative;
}
.flipcard .card.flipped {
  -webkit-transform: rotateY(-180deg);
}
.flipcard .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 1s;
}
.flipcard .card .face {
  position: absolute;
  bottom: 0;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
}
.flipcard .card .front {
  z-index: 1;
}
.flipcard .card .back {
  -webkit-transform: rotateY(-180deg);
}
#exitzoom {
	display: none;
	position: absolute;
	bottom: 30px;
	right: 50%;
	margin-right: -75px;
}
#exitzoom span {
	width: 150px;
	padding: 15px 30px;
	font-weight: 300;
	text-align: center;
	border-radius: 3px;
	background: #ed7b5f;
	border-bottom: 2px solid #d66549;
	color: #fff;
}
#exitzoom span::before {
	background: #d66549;
	border-bottom: 2px solid #d66549;
	border-radius: 3px;
	color: #fff;
	padding: 15px 30px;
}
#roomform {
	margin: 0;
	display: table;
	width: 100%;
}
#roomform select {
	margin-top: 5px;
	display: table-cell;
	width: 65%;
}
#roomform button {
	background: #ed7b5f;
	border: none;
	border-bottom: 2px solid #d66549;
	display: table-cell;
	text-align:center;
	height: 28px;
	width: 30%;
	float: right;
	border-radius: 3px;
	color: #fff;
	margin-top: 0;
	font-size: 90%;
	font-weight: 300;
}
#roomform button:hover {
	background: #d66549;
}
.controls-modal h2 { padding-right: 20px; }
.controls-modal {
	display: none;
	padding: 25px 30px;
	background: #3ca4cf;
	color: #eee;
	border-radius: 5px;
	position: absolute;
	bottom: 110px;
	left: 50%;
	width: 360px;
	margin-left: -180px;
	z-index: 9999;
}
.controls-modal p {
	margin: 0;
}
.controls-modal .arrow-down {
	border-top: 20px solid #3ca4cf;
}
.controls-close {
	position: absolute;
	top:0;
	right:0;
	color: #4c80b5;
	padding: 20px;
}
.ui-tooltip {
	height: 60px;
	border-radius: 0!important;
	-webkit-border-radius: 0!important;
	-moz-border-radius: 0!important;
	background: #f6f6f6!important;
	color: #3ca4cf!important;
	border: none!important;
	padding:0!important;
	z-index: 99;
	margin:0!important;
}
.ui-tooltip-content {
	font-family: 'Open Sans', sans-serif;
	padding: 20px 20px 0 20px!important;
	font-weight: 300!important;
	margin:0!important;
	font-size: 15px!important;
}
#oldie {
	position: absolute;
	top: 100px;
	left: 50%;
	margin-left: -200px!important;
	font-family: 'Open Sans', sans-serif!important;
	z-index: 999999999;
}
#oldie a {
	color: #ed7b5f;
}
@media all and (max-width: 1020px){
body {
	font-size: 13px;
}
#navbar, #navbar #logo, #navbar ul#nav li a, #navbar ul#nav li#share a {
	height: 60px;
}
#navbar #logo {
	width: 90px;
	padding: 0 15px;
}
#navbar #logo img {
	height: 60px;
}
#navbar ul#nav li#share a {
	width: 60px;
	text-align: center;
}
#navbar ul#nav li#share a i {
	padding: 0;
}
#navbar ul#nav li a {
	padding: 20px 20px 0;
}
#navbar h1 {
	display: none;
}
#navbar #sharebox { 
	top: 60px;
	right: 0px;
}
.slide-drawer {
	top: 60px;
	left: 50px;
}
button {
	height: 50px;
	width: 50px;
}
#leftnav {
	width: 50px;
	top: 60px;
}
#leftnav #leftnav-footer {
	bottom: 60px;
}
.ui-tooltip {
	height: 50px;
}
.ui-tooltip-content {
	padding: 16px 18px 0!important;
}
#search {
	top: 10px;
	left: 110px;
}
#modalpanel .header {
	padding: 15px;
	width: 140px;
}
#modalpanel .content {
	padding: 15px;
	width: 340px;
}
.slide-drawer {
	border-top: 1px solid #eee;
}
}
@media all and (max-width: 690px){
#navbar ul#nav li#search-toggle {
	display: inline-block;
	float: left;
}
#navbar ul#nav li#search-toggle a {
	padding: 20px 20px;
}
#search {
	display: none!important;
}
#search2 {
	background: #f8f8f8;
	width: 100%;
	top: 60px;
	left:0px;
	padding: 15px 15px 15px 70px;
	height: 50px;
	background: #eee;
	border-bottom: #ddd solid 1px;
}
#search2 form {
	margin: 0;
	padding: 0;
}
#search2 #searchForm input#searchBox {
	margin: 0;
	padding: 0;
	font-size: 110%;
	width: 200px;
}
#search2 #searchForm label {
	font-size: 110%;
}
#navbar ul#nav li#share a {
	display: none;
}
#navbar ul#nav li i {
	display: none;
}
#navbar ul#nav li#search-toggle i {
	display: inline-block;
	padding: 0;
}
#navbar ul#nav li a {
	padding: 20px 20px 0;
}
#switchmap {
	position: absolute;
	top: 900px;
	right: 30px;
}
}